<div class="columns">
  <div class="column is-8 is-offset-2">
    <h1 class="title">
      Let's get in Touch.
    </h1>
    <h2 class="subtitle">
      Interested in working together? Shoot me an line about your ideas
      and and we can talk.
      I'm happy to answer any questions you may have.
    </h2>

    <%= render 'pages/form' %>
  </div>
</div>
