<div class="hero-foot">
  <nav class="tabs is-centered is-boxed is-fullwidth">
    <div class="container">
      <ul>
        <%= link_to copyright, "https://github.com/bvdmind/duval-the-dev/" %>
      </ul>
    </div>
  </nav>
</div>
