<div class="column is-half has-text-centered">
  <%= render 'layouts/flash_message' %>
  <%= yield %>
</div>
<div class="column is-half">
  <div class="columns">
    <div class="column is-centered">
      <figure class="image">
        <%= image_tag random_image_helper %>
      </figure>
    </div>
  </div>
</div>
