<div class="columns">
  <div class="column is-half">
    Empty for now.
  </div>
  <div class="column is-half">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        <%= render 'layouts/flash_message' %>
        <%= yield %>
      </div>
    </div>
  </div>
</div>
