<div class="columns">
  <div class="column is-half">
    <%= render 'layouts/flash_message' %>
    <%= yield %>
  </div>
  <div class="column is-half">
    <div class="columns">
      <div class="column is-8 is-offset-2">
        Empty for now.
      </div>
    </div>
  </div>
</div>
